@import "../../GlobalVariables";

.commentInput__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;

  max-height: 200px;
  margin-top: 3vh;
  padding: 0 20px 0px 20px;
  border-radius: 10px;
  border: 1px solid $purple;

  background: $darkBlue;
  font-family: $mainFont;
}

.newCommentForm {
  display: flex;
  flex-direction: row;
}

.textArea__container {
  width: 500px;
  margin-top: 20px;
}

.commentInput__counter {
  justify-self: center;
}

.commentInput__textarea,
.commentInput__textarea:focus {
  height: 100px;
  width: 100%;
  resize: none;
  border-radius: 5px;

  background: $lightPurple;
  outline: none;
  font-family: $mainFont;
  font-size: $mainFontSize;
}

.commentInput__buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-grow: 1;

  margin: 20px 0 0 0;
}

.commentInput__buttons-btn {
  margin: 0 0 0 20px;
  padding: 5px 10px 5px 10px;
  border: none;
  border-radius: 5px;

  background: $lightPurple;
  font-family: $mainFont;
  font-size: $mainFontSize;
  color: $darkBlue;
}

.commentInput__buttons-btn:active {
  margin: 0 0 0 20px;
  padding: 5px 10px 5px 10px;
  border: none;
  border-radius: 5px;

  background: $lightBlue;
  color: $purple;
  font-family: $mainFont;
  font-size: $mainFontSize;
}

.signIn__form-btn:active {
  align-self: center;

  margin-top: 20px;
  padding: 5px 10px 5px 10px;
  border: none;
  border-radius: 5px;

  background: $lightBlue;
  color: $purple;
  font-family: $mainFont;
}