@import "../../GlobalVariables";

.commentInput__container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 0 20px 20px 20px;
  font-family: $mainFont;
  background: $white;
  box-sizing: border-box;
}

.commentInput__textarea,
.commentInput__textarea:focus {
  outline: none;
  width: 100%;
  height: 150px;
  resize: none;
  font-size: 20px;
  border: 2px solid $darkBlue;
}

.commentInput__buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  flex-grow: 1;
  margin: 20px 0 0 0;

  //background: red;
}

.commentInput__buttons-button {
  margin: 0 0 0 20px;
  padding: 0 10px 0 10px;
  font-size: $mainFontSize;

}