@import "../../GlobalVariables";

.counter__container {
  display: flex;
  justify-content: center;

  width: 200px;
  border-radius: 7px;

  background: $purple;
}

.counter__clock {
  margin: 0;

  color: $lightPurple;
  font-size: 30px;
}