@import "../../GlobalVariables";

.counter__container {
  display: flex;
  justify-content: center;
  background: $purple;
  border-radius: 7px;
  width: 200px;
}

.counter__clock {
  font-size: 30px;
  color: $lightPurple;
  margin: 0;
}