@import "../../../GlobalVariables";

.addProject {
  display: flex;
  justify-content: center;
  font-family: $mainFont;
  flex-grow: 1;
}

.addProject__container {
  background-image: linear-gradient($purple 50%, $black);
  display: flex;
  flex-direction: column;
  padding: 20px;
  border: 2px solid $lightBlue;
  border-radius: 10px;
  max-height: 400px;
}

.addProject__container-title {
  margin-top: 0;
  align-self: center;
}

.addProject__form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.addProject__form-field {
  border: 0;
  background: inherit;
  border-bottom: 1px solid $darkBlue;
  font-family: inherit;
  font-size: inherit;
}

.addProject__form-field:focus {
  background: inherit;
  border: 0;
  border-bottom: 1px solid $lightBlue;
  color: $lightBlue;
  outline: none;
}

.addProject__form-btn {
  margin-top: 20px;
  align-self: center;
  background: $lightPurple;
  color: $darkBlue;
  border: none;
  border-radius: 5px;
  padding: 5px 10px 5px 10px;
  font-family: inherit;
  font-size: inherit;
}

.addProject__form-btn:active {
  margin-top: 20px;
  align-self: center;
  background: $lightBlue;
  color: $purple;
  border: none;
  border-radius: 5px;
  padding: 5px 10px 5px 10px;
}

.field_error_message {
  color: red;
  font-size: 12px;
}