@import "../../../GlobalVariables";

.addProject {
  display: flex;
  justify-content: center;
  flex-grow: 1;

  font-family: $mainFont;
}

.addProject__container {
  display: flex;
  flex-direction: column;

  max-height: 400px;
  padding: 20px;
  border: 2px solid $lightBlue;
  border-radius: 10px;

  background-image: linear-gradient($purple 50%, $black);
}

.addProject__container-title {
  align-self: center;

  margin-top: 0;
}

.addProject__form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.addProject__form-field {
  border: 0;
  border-bottom: 1px solid $darkBlue;

  background: inherit;
  font-family: inherit;
  font-size: inherit;
}

.addProject__form-field:focus {
  border: 0;
  border-bottom: 1px solid $lightBlue;

  background: inherit;
  color: $lightBlue;
  outline: none;
}

.addProject__form-btn {
  align-self: center;

  margin-top: 20px;
  padding: 5px 10px 5px 10px;
  border: none;
  border-radius: 5px;

  background: $lightPurple;
  color: $darkBlue;
  font-family: $mainFont;
  font-size: inherit;
}

.addProject__form-btn:active {
  background: $lightBlue;
  color: $purple;
}

.field_error_message {
  color: red;
  font-size: 12px;
}