.content__container {
  display: flex;
  justify-content: center;
  align-items: center;

  max-height: 100%;
  width: 100%;

  background: black;
}

.content__videoplayer {
  max-height: 100%;
  max-width: 100%;
  width: calc(100% - 200px);
  height: auto;
  aspect-ratio: 16/9;
}