.content__container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 100%;
  background: black;
  width: 100%;
}

.content__videoplayer {
  width: calc(100% - 200px);
  height: auto;
  max-height: 100%;
  max-width: 100%;
  aspect-ratio: 16/9;
}