@import "../../GlobalVariables";

.comment-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;

  width: 90%;
  margin: 0 5px 0 5px;
  border-top: 1px solid $white;

}

.comment-card__btn {
  display: flex;
  justify-content: center;
  justify-self: flex-end;
  align-items: center;
  flex-grow: 0;
  position: absolute;
  right: -8px;
  top: 2px;

  height: 1.4em;
  width: 1.4em;
  border-style: none;
  border-radius: 50%;

  background: $lightPurple;
  color: $black;
  font-size: 15px;
  font: $mainFont;
}

.highlight {
  border: 1px solid $lightPurple;
}

.comment-card .comment-card__btn {
  visibility: hidden;
}

.comment-card:hover .comment-card__btn {
  visibility: visible;
}

.comment-card__btn:hover {
  // This forms a border on the inside of the button.
  box-shadow:0 0 0 2px $lightBlue inset;
}

.comment {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  width: 100%;
  margin: 10px 0 10px 0;
  padding: 0 10px 0 10px;
  border-radius: 10px;

  background-image: linear-gradient($purple, 50%, $black);
  box-shadow: 0 8px 12px black;
}

.comment:active {
  box-shadow: 0 4px 6px $black;
  color: $lightBlue
}

.comment__timestamp {
  align-self: center;

  margin-bottom: 0;

  color: $white;
}

.comment:hover {
  cursor: pointer;
}

.comment__reviewer {
  color: $lightPurple
}