@import "../../GlobalVariables";

.comment-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid $white;
  width: 100%;
}

.comment-card__btn {
  background: $purple;
  border-style: none;
  color: $white;
  border-radius: 50%;
  justify-self: flex-end;
  flex-grow: 0;
  //font-size: 20px;
}

.highlight {
  background: $lightBlue;
}

.comment-card .comment-card__btn {
  visibility: hidden;
}

.comment-card:hover .comment-card__btn {
  visibility: visible;
}

.comment-card__btn:hover {
  // Dit is eigenlijk een border aan de binnenkant van de btn
  box-shadow:0 0 0 1px $lightBlue inset;
}

.comment {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.comment__timestamp {
  margin-bottom: 0;
  color: $white;
}

.comment:hover {
  cursor: pointer;
}