@import "../../GlobalVariables";

.signInPage {
  display: flex;
  justify-content: center;

  font-family: $mainFont;
  font-size: $mainFontSize;
}

.signIn__container {
  display: flex;
  flex-direction: column;

  height: 400px;
  margin-top: 60px;
  padding: 20px;
  border: 1px solid $darkBlue;
  border-bottom: none;
  border-radius: 10px;

  background-image: linear-gradient($purple 50%, $black);
}

.signIn__container-title {
  align-self: center;

  margin-top: 0;
}

.signIn__form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.signIn__form-field {
  border: 0;
  border-bottom: 1px solid $darkBlue;

  font-family: $mainFont;
  font-size: $mainFontSize;
  background: inherit;
}

.signIn__form-field:focus {
  border-bottom: 1px solid $lightBlue;
  outline: none;

  color: $lightBlue;
}

.signIn__form-btn {
  align-self: center;

  margin-top: 20px;
  padding: 5px 10px 5px 10px;
  border: none;
  border-radius: 5px;

  background: $lightPurple;
  color: $darkBlue;
  font-family: $mainFont;
  font-size: $mainFontSize;
}

.signIn__form-btn:active {
  background: $lightBlue;
  color: $purple;
}