@import "../../../GlobalVariables";

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: $black;
    border-bottom: $navbar_bottom_border solid $purple;
    height: $navbar_height;
}

.logo {
    display: flex;
    align-items: center;
}

.logo--img {
    margin: 10px;
    width: 65px;
}

.logo--name {
    font-family: $logoFont;
    font-size: 30px;
}

.account {
    display: flex;
    justify-content: space-between;
    align-content: center;
    margin: 10px;
    font-family: $mainFont;
}

.account__btn {
    font-family: inherit;
    font-size: 25px;
    margin-left: 8px;
    background: none;
    border: none;
    border-radius: 5px;
    color: $white;
    cursor: pointer;
}

a,
a:visited {
    text-decoration: none;
    color: $white;
}

a:active, button:active {
    color:$purple
}
