@import "../../GlobalVariables";

.collected-feedback {
  max-width: 20%;
  height: calc(100vh - #{$navbar_height + $navbar_bottom_border + $footer_height} - 30px);
  margin: 10px 10px 0 10px;
  padding: 0 10px 0 10px;
  overflow: auto;
  border-radius: 10px;
  border: 1px $purple solid;

  background: $darkBlue;
}

.collected-feedback__btns {
  display: flex;
}

.collected-feedback__btn {
  align-self: center;

  margin-right: 10px;
  padding: 5px 5px 5px 5px;
  border: none;
  border-radius: 5px;

  background: $lightPurple;
  color: $darkBlue;
  font-family: $mainFont;
  font-size: inherit;
}

.collected-feedback__btn:active {
  background: $lightBlue;
  color: $purple;
}

.collected-feedback__list {
  overflow: auto;
}

.collected-feedback__header {
  color: $lightBlue
}
