@import "../../GlobalVariables";

.collected-feedback {
  height: calc(100vh - #{$navbar_height + $navbar_bottom_border + $footer_heigth} - 15px);
  overflow: auto;
  padding: 0 10px 0 10px;
  margin: 10px 10px 0 10px;
  border-radius: 10px;
  border: 1px $purple solid;
  background: $darkBlue;

}

.collected-feedback__list {
  overflow: auto;
}