@import "../../GlobalVariables";

.feedback {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  margin: 10px 10px 0 10px;
  border-radius: 10px;
  border: 1px solid $purple;
  width: 200px;

  max-height: calc(100vh - #{$navbar_height} - #{$navbar_bottom_border} - #{$footer_heigth});
  color: $lightBlue;
  background: $darkBlue;

}

.feedback__list--container {
  margin: 0;

  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

.feedback__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.feedback__btn-save {
  margin: 20px 0 10px 0;
  align-self: center;
  background: $lightPurple;
  color: $darkBlue;
  border: none;
  border-radius: 5px;
  padding: 5px 10px 5px 10px;
  font-family: $mainFont;
  font-size: $mainFontSize;
}

.feedback__btn-save:active {
  margin-top: 20px;
  align-self: center;
  background: $lightBlue;
  color: $purple;
  border: none;
  border-radius: 5px;
  padding: 5px 10px 5px 10px;
}