@import "../../GlobalVariables";

.feedback {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  max-height: calc(100vh - #{$navbar_full_height} - #{$footer_height} - 30px);
  width: 300px;
  margin: 10px 10px 0 10px;
  padding: 5px;
  border-radius: 10px;
  border: 1px solid $purple;

  background: $darkBlue;
  color: $lightBlue;

}

.feedback__list--container {
  width: 100%;
  margin: 0;
  overflow-y: auto;
  overflow-x: hidden;
}

.feedback__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.feedback__btn-save {
  align-self: center;

  margin: 20px 0 10px 0;
  padding: 5px 10px 5px 10px;
  border: none;
  border-radius: 5px;

  background: $lightPurple;
  color: $darkBlue;
  font-family: $mainFont;
  font-size: $mainFontSize;
}

.feedback__btn-save:active {
  align-self: center;

  margin-top: 20px;
  padding: 5px 10px 5px 10px;
  border: none;
  border-radius: 5px;

  background: $lightBlue;
  color: $purple;
}

.message__container {
  display: flex;
  flex-direction: column;
  justify-content: center;

  max-height: 400px;
  padding: 10px;
  border: 2px solid $lightBlue;
  border-radius: 15px;

  background-image: linear-gradient($purple 50%, $black);
}

.message__header {
  align-self: center;

  color: $white;
}

.message__text {
  color: $white;
}