@import "../../GlobalVariables";

.contentReviewPage {
  display: flex;
  justify-content: space-between;

  height: calc(100vh - #{$navbar_full_height} - #{$footer_height});
  overflow: hidden;

  background-image: linear-gradient(black 66vh, $black)
}

.contentReviewPage__feedback {
  width: 300px;
  max-width: 300px;
  max-height: calc(100vh - #{$navbar_full_height} - #{$footer_height});
  overflow: hidden;
}

.contentReviewPage__liveContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  flex-grow: 1;

  max-height: calc(100vh - #{$navbar_full_height} - #{$footer_height});
}