@import "../../GlobalVariables";

.contentReviewPage {
  display: flex;
  justify-content: space-between;
  height: calc(100vh - #{$navbar_full_heigth} - #{$footer_heigth});
  overflow: hidden;
  background-image: linear-gradient(black 66vh, $black)
}

.contentReviewPage__feedback {
  width: 300px;
  max-width: 300px;
  max-height: calc(100vh - #{$navbar_full_heigth} - #{$footer_heigth});
  overflow: hidden;
}

.contentReviewPage__liveContainer {
  max-height: calc(100vh - #{$navbar_full_heigth} - #{$footer_heigth});
  //height: 30%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}


//.contentReviewPage__commentInput {
//  flex-grow: 1;
//}