@import "../../GlobalVariables";

$test: $navbar_height;

.contentViewPage {
  display: flex;
  max-height: calc(100vh - #{$navbar_height} - #{$navbar_bottom_border} - #{$footer_heigth});
  overflow: auto;
  //background: beige;
  border: 1px solid blue;
}

.contentViewPage__liveContainer {
  height: 100%;
}
