@import "../../GlobalVariables.scss";

.sidebar {
  font-family: $mainFont;
  font-size: $mainFontSize;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 150px;


  //border: 5px solid red;
}

.sidebar__userDetails {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background: $darkBlue;
  //border: 1px solid $white;
  color: $lightBlue;
  padding: 20px;
}

.sidebar__userDetails > * {
  margin: 0 0 3px 0;
}

.sidebar__projectList {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  background: $purple;
  flex-grow: 1;

}

ul {
  list-style-type: none;
  padding-left: 0;
}

.projectList__btn {
  border: none;
  background: none;
  color: $white;
  font-family: inherit;
  font-size: inherit;
  margin-bottom: 7px;
}

.projectList__btn:hover {
  color: $lightBlue;
}

.projectList__btn-addNew {
  background: $lightPurple;
  color: $darkBlue;
  border: none;
  border-radius: 5px;
  padding: 5px 10px 5px 10px;
  font-family: inherit;
  font-size: inherit;
}

.projectList__btn-addNew:active {
  background: $lightBlue;
  color: $purple;
}

