@import "assets/fonts/woff/oswald/oswald-fontface.css";

/* Main Colors */
none {
    /*Linear Gradient*/
    color: hsl(180, 62%, 58%);
    color: hsl(268, 30%, 42%);

    /*Darkest color*/
    color: hsl(227, 45%, 16%);

    /*Lightes color*/
    color: hsl(215, 68%, 93%);

    font-family: oswalt;
}