@import "/src/assets/fonts/woff/josefin/josefin-fontface";
@import "/src/assets/fonts/woff/oswald/oswald-fontface";


/*Define colors*/
$purple: #694b8b;
$lightPurple: #D1BCE3;
$lightBlue: #51d6d6;
$darkBlue: #161e3b;
$white: #e1ebf9;
$black: #222526;

/*Define fonts*/
//$mainFont: josefin_sansregular;
$mainFont: Arial;
$logoFont: oswaldmedium;
$mainFontSize: 20px;

/*Define Heights*/
$navbar_height: 97.5;
$navbar_bottom_border: 7px;
$footer_heigth: 30px;



.void { // helper brackets
  font-family: "Diwan Kufi";
}
