@import "../../GlobalVariables";

.verifyDelete__container {
  display: flex;
  flex-direction: column;

  max-height: 400px;
  padding: 10px;
  border: 2px solid $lightBlue;
  border-radius: 15px;

  background-image: linear-gradient($purple 50%, $black);
}

.verify__btn {
  align-self: center;

  margin-top: 20px;
  margin-left: 10px;
  border: none;
  border-radius: 5px;
  padding: 5px 10px 5px 10px;

  background: $lightPurple;
  color: $darkBlue;
  font-family: $mainFont;
  font-size: inherit;
}

.verify__btn:active {
  background: $lightBlue;
  color: $purple;
}

.verify__btns {
  display: flex;
  justify-content: flex-end;
}