@import "../../GlobalVariables";

.projectInfo__container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  margin-top: 0;
  height: calc(100vh - 136px);
}

.projectInfo__header {
  align-self: center;

  color: $lightBlue;
}

.projectInfo__container > * {
  margin-top: 0;
}

.projectInfo__list-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-grow: 1;
}

.projectInfo__info {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-bottom: 10px;

  background-image: linear-gradient($purple, $black 90%);
}

.projectInfo__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.projectInfo__info-title {
  margin: 5px 0;

  font-family: $logoFont;
  font-size: $bigFontSize;
}

.projectInfo__btn-addMedia {
  margin: 0 7px 7px 7px;
  padding: 5px 10px 5px 10px;
  border: none;
  border-radius: 5px;

  background: $lightPurple;
  color: $darkBlue;
  font-size: $mainFontSize;
  font-family: $mainFont;
}

.projectInfo__btn-addMedia:active {
  background: $lightBlue;
  color: $purple;
}

.projectInfo__btn-addMedia:disabled {
  background: $lightPurple;
  color: grey;
}

.projectInfo__btn-addMedia:disabled:active {
  color: grey;
}

.projectInfo__btn-deleteProject {
  margin: 0 7px 7px 7px;
  padding: 5px 10px 5px 10px;
  border: none;
  border-radius: 5px;

  background: $lightPurple;
  color: $darkBlue;
  font-size: $mainFontSize;
  font-family: $mainFont;
}

.projectInfo__btn-deleteProject:active {
  background: $lightBlue;
  color: $purple;
}

.projectInfo__btn-deleteProject:disabled {
  background: $lightPurple;
  color: grey;
}

.projectInfo__btn-deleteProject:disabled:active {
  color: grey;
}


