@import "../../GlobalVariables";

.projectInfo__container {
  margin-top: 0;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 136px);

  flex-grow: 1;
}

.projectInfo__container > * {
  margin-top: 0;
}

.projectInfo__list-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
}

.projectInfo__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid $purple;
  margin-bottom: 10px;
}

.projectInfo__info-title {
  margin-top: 4px;

}

.projectInfo__btn-addMedia {
  justify-self: flex-end;
}

