@import "../../GlobalVariables";

.projectInfo__container {
  margin-top: 0;
  padding: 20px 0 0 20px;
  justify-content: center;

  flex-grow: 1;
}

.projectInfo__container > * {
  margin-top: 0;
}

.projectInfo__info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.projectInfo__info-title {
  margin-top: 4px;

}

